[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.5"


[dev-packages]

ipython = "*"
pytest = "*"
pytest-sugar = "*"


[packages]

"neo4j-driver" = "*"
